@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --purple-color: #7f5a83;
  --violet-color: #0d324d;
  --white-color: #ffffff;
  --blue-color: #1c2042;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: #36096d;
background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
  color: var(--blue-color);
}

.container {
  width: 45%;
  min-width: 40rem;
  background-color: #f8f9d2;
  background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
  padding: 4rem 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.8rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

header {
  min-height: 2.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

header .title {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

header .title p {
  -webkit-background-clip: text;
  background-color: #ff1493;
background-image: linear-gradient(319deg, #ff1493 0%, #0000ff 37%, #ff8c00 100%);
color: transparent;
}

.scores p {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.weapons {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.weapons button {
  background-color: var(--purple-color);
  color: var(--white-color);
  border: none;
  font-size: 4rem;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin: 5px;
}

.weapons button:hover{
  background-color: #734ae8;
  background-image: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%);
}

.details {
  margin-top: 3rem;
  text-align: center;
}

#result {
  width: 15rem;
  padding: 1rem 0;
  margin: 2.5rem auto;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor:not-allowed;
}

#user_choice,
#computer_choice {
  font-weight: 400;
  margin-bottom: 0.5rem;
}

span {
  font-weight: 900;
}
